* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

body {
  background-color: #ffffff;
  background-image: gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
html, body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

.container {
  overflow-x: hidden;

}
/*NAVBAR*/

.navbar{
  width: 100%;
  z-index: 5;
  padding: 15px 0;
  transition: all 0.3s ease;
}

.navbar.sticky{
  overflow: hidden;
}

.navbar .logo a {
  display: inline-block; 
  line-height: 30px;
  color: #495464;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  margin: auto 5px;
  border: 2px solid #05386B;
  border-radius: 50%;
  padding: 10px 20px;
  font-weight: 600;
}

.navbar .menu li {
  list-style: none; 
  display: inline-block;
}
.navbar .menu li a{
  display: inline-block;
  font-size: 20px;
  color: #05386B;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  margin-left: 40px;
  text-decoration: none;
  transition: color 0.3s ease;
  right: 30px;
  top: 25px;
  font-weight: 600;

}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #05386B;
}

.navbar .menu li a:hover{
  color: #05386B;
}
.navbar .menu li a:active {
  border-bottom: 2px;
  border-color: #fff;
}
.navbar .logo a:hover {
  color: #c6b497;
}
.cool-link:hover::after{
  width: 100%;
  transition: width .3s;
}
.navbar .menu li a:hover {
  cursor: pointer;
}
.icon {
  color: #05386B;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.menu-btn {
  right: 30px;
  top: 25px;
}

.icon.cancel-btn {
  position: absolute;
  right: 45px;
  top: 35px;
  color: #05386B;
}

/*LANDING*/

.landing {
  display: flex;
  width: 100%;
  height: 70%;
  text-align: left;
  justify-content: center;
  align-items: center;
}


.landing .container {
  margin: 0 0 0 40px;
  height: 100%;
  overflow: hidden;
}
.landing .container .icons {
  height: 10%;
}

.landing .container .icons {
  margin: 10px 0;
  font-size: 1.5rem;
  
}

.landing .container .icons a {
  text-decoration: none;
  color: #495464;
  font-size: 15px;
  padding: 17px 20px;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.landing .container .icons a .fab {
  transition: .6s ease;
  color: black;
}

.landing .container .icons #fb {
  margin-right: 20px;
  border-radius: 50px;
}
.landing .container .icons #gitlab {
  margin-right: 20px;
  border-radius: 50%;
}
.landing .container .icons #linked {
  margin-right: 20px;
  border-radius: 50%;
}

.landing .container .icons a .fab:hover {
  color: #ffffff;
  transform: translate(0, -3px);

}

.landing .container .icons a:hover {
  background-color: #05386B;
  opacity: 0.8;
  transition: 0.3 ease;
}



.landing .container .landing-content .text1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #05386B;
  font-weight: 500;
}

.landing .container .landing-content .text2 {
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #05386B;
}

.landing .container .landing-content .text3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin: 5px 0;
  color: #495464;
  font-weight: 500;
}


.landing .container .landing-content .text3 span {
  color: #05386B;
}
.landing .container .landing-content a{
  display: inline-block;
  background: none;
  color: #495464;
  font-size: 20px;
  margin-top: 25px;
  border-radius: 6px;
  border: 1px solid #495464;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: 'Lato', sans-serif;
  letter-spacing: normal;
  padding: 10px;
  font-weight: 600;
}

.landing .container .landing-content a:hover {

  color: #ffffff;
  background-color: #05386B;
  opacity: 0.8;

}

/*ABOUT ME*/
#about .container-fluid{
  padding: 45px 5px;
  height: 50vh;
  overflow: hidden;

}



.about-header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3rem;
  color: #495464;
  
}

#about .container-fluid h2 span {
  color: #05386B;
  display: block;
  font-family: 'Lora', sans-serif;
  font-weight: 1000;
}
#about .container-fluid .paragraph > p {
  padding-left: 100px;
  text-align: center;
  padding: .4rem 0;
  font-size: 1.5rem;
  color: black;
}
.para {
  color: #495464;
  font: normal 16/25px;
  font-family: 'Lora', sans-serif;
}
#about .container-fluid .paragraph span {
  margin: 10px 0;
  color: #05386B;
  font-weight: bold;
}
#about .container-fluid img {
  border-radius: 50%;
  box-shadow: 10px 10px 8px 10px #839b97;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*PROJECTS SECTION*/

#projects {
  min-height: calc(100vh - 250px);
}
.projects-header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3rem;
  color: #495464;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
#projects .container::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
    z-index: 0;
}
.card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #05386B,
        #00FFFF
    );
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #05386B,
        #00FFFF
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #05386B,
        #00FFFF
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.btn {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;;
  margin: 10px;
  color: #3498db;
}

.details a {
  color: #3498db;
  text-decoration: none;
}

.details a:hover {
  color: #ffffff;

}

.details button:hover {
  background-color: #05386B;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: 1;
  transition: 0.8s;
}
/*FOOTER SECTION*/

footer {
  height: 250px;
  bottom: 0;
  width: 100%;
  background: #05386B;
  display: flex;
  color: #fff;  
}

footer .container-fluid {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  overflow-x: hidden;
}

footer .container-fluid h2 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-bottom: 30px;
}

footer .container-fluid li {
  list-style: none;
  margin-bottom: 20px;
}
footer .container-fluid li span {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

footer .container-fluid li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

footer .container-fluid .reach {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

footer .container-fluid .reach #email {
  margin-bottom: 10px;
  width: 45%;
  background: none;
}

footer .container-fluid .reach .btn {
  background-color: #fff;
  border: none;
  color: #05386B;
}

/*loner*/

.jclee {
  font-weight: 600;
  text-align: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: normal;
  padding-top: 10px;
  height: 50px;
}

@media (max-width: 991px) {
  
  .icon{
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 50%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    padding: 0;
    text-align: center;
    transition: all 0.5s ease;

  }
  .navbar .menu.active {
    left: 0;    
    background-color: #05386B;  
  }
  .navbar .menu li {
    margin-top: 70px;
    margin-right: 30px;
  }
  .navbar .menu li a{
    font-size: 25px;
  }
  

}


@media only screen and (max-width: 768px) , screen and (max-height: 1366px){
  #about .container-fluid {
    height: 50%;
  }
  .projects-header {
    height: 30%;
  }
  .landing .container {
    padding-top: 20px;
    height: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px ) , screen and (min-height: 1024px) and (max-height: 2000px){
  .landing {
    height: 60%;
  }

}

@media (max-width: 767px){
  footer {
    height: 700px;
  }
}


@media only screen and (max-width: 480px min-width: 100px) {
  .container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
  }
  .text1, .text2, .text3 {
    text-align: left;
    
  }
}

@media only screen and (max-width: 575px) {
  .icon.menu-btn {
    right: 25px;
    top: 25px;
  }
  .container .landing-content a{
    font-size: 20px;
    padding: 5px;
  }

  .landing {
    height: 80%;
  }

  .navbar .menu {
    width: 100%;
  }

}

@media only screen and (max-width: 1400px) {
  .landing .container .landing-content .text3{
    font-size: 2rem;
  }
  .landing .container .landing-content .text2{
    font-size: 3rem;
  }
  .about-header {
    font-size: 3rem;
  }
  .landing .container .landing-content .text1{
    font-size: 2rem;
  }
  #about .container-fluid .paragraph > p {
    font-size: 1.1rem;
  }
  .projects-header {
    font-size: 3rem;
  }
  
}

@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }
    .navbar .logo a {
      padding-left: 20px;
    }
    #projects {
    height: 100vh;
  }
}

@media (max-width: 360px){
  .landing .container .landing-content .text3{
    font-size: -5rem;
  }
  .landing .container .landing-content .text2{
    font-size: -5rem;
  }
  .about-header {
    font-size: -5rem;
  }
}